/* CSS declarations go here */

.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.notify {
    background-color: #B8B8B8;
    color: white;
}

.description {
    margin: 5px 0 5px 0;
}

.friends .who {
    margin-bottom: 5px;
}

.friends .add {
    text-align: center;
}

.betbtn {
    margin: 1px 1px -18px 0;
}
.add-row .add {
    margin: 10px 10px 10px 0;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.friend_yes {
    color: green;   
}

.friend_no {
    color: red;
}

.label-notify,
.badge-notify {
  background-color: #3e76cc;
}

.myh4{
    font-size: 20px;
}

