<head>
  <title>frib</title>
</head>

<body>
  {{> page}}
</body>

<template name="page">
  {{#if showAddFriendDialog}}
    {{> addFriendDialog}}
  {{/if}}
  {{#if showMakeBetDialog}}
    {{> makeBetDialog}}
  {{/if}}

  <div class="container">
  	<div class="row">
      <div class="span1"></div>

      <div class="span10">
        <div class="header row">
          <div class="span5">
            <h3 style="margin-bottom: 0px">Frib</h3>
          </div>
  		    <div class="span5">
  			   <div style="float: right">
  				    {{loginButtons align="right"}}
  			   </div>
  		    </div>
        </div>

        <div class="row">
          {{#if currentUser}}
            <div class="myh4" style="margin-bottom: 10px">
              {{userGreeting}}&nbsp; &nbsp;${{userBalance}}&nbsp; &nbsp;{{userRating}}&#10029;
            </div>
            {{#each notifications}}
              <div class="add-row">
                <span class="label label-notify">
                  <a href="#" class="close unnotify">&nbsp;&times;</a>
                  {{notify}}
                </span>
              </div>

            {{/each}}
            <div class="span5">
              {{#if canAdd}}
                <div class="add">
                  <a href="#" class="btn btn-mini add">Add people</a>
                </div>
              {{/if}}
              {{> userDetails}}
            </div>
            <div class="span4">
              {{> requests}}
            </div>
          {{else}}
            Please login first.
          {{/if}}
        </div>
      </div>

      <div class="span1"> </div>
  	</div>
  </div>
</template>

<template name="userDetails">
  <div class="details">

    <div class="friends well well-small">
      <div class="description">Friends:</div>
        {{#each friends}}
          <div class="add-row">
            <span class="label label-success">{{myFriend}}</span>
            <a href="#" class="btn btn-mini unfriend">Unfriend</a>
          </div>
        {{/each}}
    </div>
    <div class="betbtn">
      <a href="#" class="btn btn-mini bet">Bet</a>
    </div>
    <div class="friends well well-small">
      <div class="description">Bets:</div>
      {{#each activeBets}}
        <div class="add-row">
          <span class="label label-info">{{myActiveBet}} ({{activeBetAmount}} + {{activeBetComm}})</span>
          {{#if alreadyVoted}}
            <a href="#" class="btn btn-mini disabled">A</a>
            <a href="#" class="btn btn-mini disabled">B</a>
          {{else}}
            <a href="#" class="btn btn-mini winA">A</a>
            <a href="#" class="btn btn-mini winB">B</a>
          {{/if}}
          {{#if alreadyPaid}}
            <a href="#" class="btn btn-mini btn-inverse disabled">Paid</a>
          {{else}}
            {{#if resultDecided}}
              <a href="#" class="btn btn-mini payBet">Pay</a>
            {{else}}
              <a href="#" class="btn btn-mini disabled">Pay</a>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="friends well well-small">
      <div>Bet requests received:</div>
      {{#each inBetReqs}}
        <div class="add-row">
          <span class="label label-warning">{{betReceived}}</span>
          <a href="#" class="btn btn-mini sideA">A</a>
          <a href="#" class="btn btn-mini sideB">B</a>
          <a href="#" class="close bet_reject">&times;</a>
        </div>
      {{/each}}
    </div>
  </div>
</template>
<template name="requests">
  <div class="details">
    <div class="friends well well-small">
      <div>Friend requests received:</div>
      {{#each inReqs}}
        <div class="add-row">
          <span class="label label-info">{{received}}</span>
          <a href="#" class="btn btn-mini friend_yes">Yes</a>
          <a href="#" class="btn btn-mini friend_no">No</a>
        </div>
      {{/each}}
    </div>
    <div class="friends well well-small">
      <div>Friend requests sent:</div>
      {{#each outReqs}}
        <div class="add-row">
          <span class="label label-important">{{sent}}</span>
        </div>
      {{/each}}
    </div>
    <div class="friends well well-small">
      <div>Bet requests sent:</div>
      {{#each outBetReqs}}
        <div class="add-row">
          <span class="label">{{betSent}}</span>
        </div>
      {{/each}}
    </div>
  </div>
</template>
<template name="addFriendDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close done">&times;</button>
      <h3>Add friends</h3>
    </div>

    <div class="modal-body">
      {{#if unfriendSwitch}}
        {{#each toUnfriend}}
          <div class="add-row">
            <a href="#" class="btn unfriend">Unfriend</a>
            {{displayName}}
          </div>
        {{else}}
          Nobody left to unfriend.
        {{/each}}
      {{else}}
        {{#each unadded}}
          <div class="add-row">
            <a href="#" class="btn add">Add</a>
            {{displayName}}
          </div>
        {{else}}
          Everyone on the site has already been added.
        {{/each}}
      {{/if}}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary done">Done</a>
    </div>
  </div>
</template>

<template name="makeBetDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close done">&times;</button>
      <label>I bet</label>
      $<input type="number" class="stake span1">
      <label>that</label><input type="text" class="desc span5">
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}
      {{#each uninvited}}
        <div class="invite-row">
          {{#if invitedCache this}}
            <a href="#" class="invite btn btn-inverse">Break</a>
          {{else}}
            <a href="#" class="invite btn">Make</a>
          {{/if}}
          {{displayName}}
        </div>
      {{/each}}
    </div>
    
    <div class="modal-footer">
      <a href="#" class="btn done">Cancel</a>
      <a href="#" class="btn btn-primary itIsOn">It's on!</a>
    </div>

  </div>
</template>

